.prog h1{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: 50;
 color: black;
 font-size: 40px;

}
.prog ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.prog li{
   
}